<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.switchamajig.reporthelper">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <service
            android:name=".ReportHelperAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/report_helper" />
        </service>

        <activity android:name=".FilePlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
